:root {
  --system-fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Element Styles */
body {
  padding: 1rem;
  font-family: "Inter", var(--system-fonts);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Arvo", var(--system-fonts);
}

h1 {
  text-align: center;
}

li {
  margin: 1rem 0;
}

li::marker {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

time {
  font-weight: 600;
}

/* Site Styles */
#app {
  max-width: 700px;
  margin: 0 auto;
}
